<div>
    <label for="start">Start</label>

    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="Model.Start" id="start" />
</div>

<div>
    <label for="duration">Duration</label>

    <InputNumber @bind-Value="Model.Duration" id="duration" />
</div>

<div>
    <label for="type">Type</label>

    <InputText @bind-Value="Model.Type" id="type" />
</div>

<div>
    <label for="bandcamp_id">Bandcamp: id</label>

    <InputNumber @bind-Value="Model.BandcampId" id="bandcamp_id" />
</div>

<div>
    <label for="bandcamp_link">Bandcamp: link</label>

    <InputText @bind-Value="Model.BandcampLink" id="bandcamp_link" />
</div>

<div>
    <label for="youtube">YouTube</label>

    <InputText @bind-Value="Model.YouTube" id="youtube" />
</div>

<div>
    <label for="spotify">Spotify</label>

    <InputText @bind-Value="Model.Spotify" id="spotify" />
</div>

@code {
    [Parameter, EditorRequired]
    public required CreateEditLineupPerformanceFormModel Model { get; set; }
}