<div>
    <label for="start">Start</label>

    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="Model.Start" id="start" />
</div>

<div>
    <label for="duration">Duration</label>

    <InputNumber @bind-Value="Model.Duration" id="duration" />
</div>

<div>
    <label for="type">Type</label>

    <InputText @bind-Value="Model.Type" id="type" />
</div>

<div>
    <label for="bandcamp">Bandcamp</label>

    <InputText @bind-Value="Model.Bandcamp" id="bandcamp" />
</div>

<div>
    <label for="youtube">YouTube</label>

    <InputText @bind-Value="Model.YouTube" id="youtube" />
</div>

<div>
    <label for="spotify">Spotify</label>

    <InputText @bind-Value="Model.Spotify" id="spotify" />
</div>

@code {
    [Parameter, EditorRequired]
    public required CreateEditLineupPerformanceFormModel Model { get; set; }
}