<ul class="item">
    <li>Date: @LineupResult.Doors.ToLongDateString()</li>
    <li>Doors: @LineupResult.Doors.ToShortTimeString()</li>
    <li>Name: @(LineupResult.Name ?? "/")</li>
</ul>


@code {
    [Parameter, EditorRequired]
    public required LineupResult LineupResult { get; set; }
}
