h2 {
    text-transform: uppercase;
}

article {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

    article > ul {
        display: flex;
        flex-direction: column;
        gap: .5em;
        list-style-type: none;
    }

        article > ul > li:first-of-type {
            font-weight: bold;
        }

            article > ul > li:first-of-type:first-letter {
                text-transform: uppercase;
            }

    article > img {
        max-width: 100%;
    }

    article > section {
        background-color: rgb(235,235,235);
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 1em;
    }
