@model LineupPerformanceResult

 <iframe style="border: 0; width: 100%; height: 120px;" src="@($"https://bandcamp.com/EmbeddedPlayer/album={Model.BandcampId}/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/")" seamless><a href="@Model.BandcampLink">27 passports by The Ex</a></iframe>
