<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicClubManager.Ui.Mvc</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicClubManager.Ui.Mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @{
            var controller = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower();
        }

        <div>
            <h1>
                @if (controller?.Equals("home") is true)
                {
                    <a asp-controller="Home" asp-action="Index" class="active">Music Club</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Index">Music Club</a>
                }
            </h1>

            <button type="button">
                <span>&#9776;</span>
                <span>&#10006;</span>
            </button>
        </div>

        <nav>
            <ul>
                <li>
                    @if (controller?.Equals("agenda") is true)
                    {
                        <a asp-controller="Agenda" asp-action="Index" class="active">Agenda</a>
                    }
                    else
                    {
                        <a asp-controller="Agenda" asp-action="Index">Agenda</a>
                    }
                </li>
                <li>
                    @if (controller?.Equals("about") is true)
                    {
                        <a asp-controller="About" asp-action="Index" class="active">About</a>

                    }
                    else
                    {
                        <a asp-controller="About" asp-action="Index">About</a>
                    }
                </li>
                <li>
                    @if (controller?.Equals("contact") is true)
                    {
                        <a asp-controller="Contact" asp-action="Index" class="active">Contact</a>
                    }
                    else
                    {
                        <a asp-controller="Contact" asp-action="Index">Contact</a>
                    }
                </li>
            </ul>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2024 - MusicClubManager.Ui.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
