@page "/artists/create/select-image"

@inherits SelectImageBase

@layout CreateArtistLayout

<SelectImage>
    <Buttons Context="id">
        <li><button @onclick="@(() => Select(id, "artists/create"))">Select</button></li>
    </Buttons>
</SelectImage>