@page "/artists/create"

@inject IArtistService ArtistApiService
@inject NavigationManager NavigationManager

<h3>Create artist</h3>

<ArtistCreateForm OnSubmitted="@(() => NavigationManager.NavigateTo("artists"))" />