@page "/artists/create/select-image"

@inherits SelectImageBase

@layout CreateArtistLayout

<SelectImage>
    <Selector Context="id">
        <button @onclick="@(() => Select(id, "artists/create"))">Select</button>
    </Selector>
</SelectImage>