@page "/artists/{artistId:int}"

@layout LineupLayout

@inject ILineupService LineupApiService
@inject NavigationManager NavigationManager

<h3>Edit artist</h3>

<ArtistEditForm ArtistId="ArtistId" OnSubmitted="@(() => NavigationManager.NavigateTo($"artists"))" />

@code {
    [Parameter]
    public int ArtistId { get; set; }
}