@page "/artists/edit/{id:int}"

@layout EditArtistLayout

@inject IArtistService ArtistApiService
@inject ImageApiService ImageApiService
@inject NavigationManager NavigationManager

<SubTitle ReturnTitle="Index" ReturnUrl="artists">
    Edit
</SubTitle>


@if (Model is { } model)
{
    <Form TModel="ArtistFormModel" Model="model" OnValidSubmit="() => Submit(model)">
        <Template>
            <ArtistInputs Model="model"></ArtistInputs>

            <div>
                <label for="image">Image</label>
                @if (imageServiceResult?.Data is { } imageResult)
                {
                    Model.ImageId = imageResult.Id; //use hidden input??

                    <ImageItem Model="imageResult" />

                    <Navigation>
                        <li><button type="button" @onclick="() => { Model.ImageId = null; imageServiceResult = null;}">Clear selection</button></li>
                    </Navigation>
                }
                else
                {
                    <p>There is no image selected</p>

                    <Navigation>
                        <li><NavLink href="@($"artists/edit/{Id}/create-image")">Create image</NavLink></li>

                        <li><NavLink href="@($"artists/edit/{Id}/select-image")">Select image</NavLink></li>
                    </Navigation>
                }
            </div>

            <Buttons>
                <li><button type="submit">Save</button></li>

                <li><button type="button" @onclick="() => FetchArtist(Id)" class="warning">Undo changes</button></li>
            </Buttons>
        </Template>
    </Form>
}
else
{
    <Spinner />
}

@code {
    [CascadingParameter]
    public ArtistFormModel? Model { get; set; }

    [Parameter]
    public int Id { get; set; }

    private ServiceResult<ImageResult>? imageServiceResult;

    protected override async Task OnInitializedAsync()
    {
        await FetchArtist(Id);

        if (Model?.ImageId is { } imageId)
        {
            imageServiceResult = await ImageApiService.Get(imageId);
        }

        await base.OnInitializedAsync();
    }

    private async Task FetchArtist(int id)
    {
        var artistServiceResult = await ArtistApiService.Get(id);

        if (artistServiceResult?.Data is { } artistResult)
        {
            Model = new ArtistFormModel
                {
                    Description = artistResult.Description,
                    ImageId = artistResult.ImageResult?.Id,
                    Name = artistResult.Name
                };
        }
    }

    private async Task Submit(ArtistFormModel _model)
    {
        if (string.IsNullOrWhiteSpace(_model.Name))
        {
            return;
        }

        var request = new ArtistRequest
            {
                Name = _model.Name,
                Description = _model.Description,
                ImageId = _model.ImageId
            };

        if ((await ArtistApiService.Update(Id, request)).Data is not { } artistResult)
        {
            return;
        }

        NavigationManager.NavigateTo("artists");
    }
}