@page "/artists/edit/{artistId:int}/select-image"

@inherits SelectImageBase

@layout EditArtistLayout

<SelectImage>
    <Selector Context="id">
        <button @onclick="@(() => Select(id, $"artists/edit/{ArtistId}"))">Select</button>
    </Selector>
</SelectImage>

@code {
    [Parameter]
    public int ArtistId { get; set; }
}