@page "/artists/edit/{artistId:int}/select-image"

@inherits SelectImageBase

@layout EditArtistLayout

<SelectImage>
    <Buttons Context="id">
        <li><button @onclick="@(() => Select(id, $"artists/edit/{ArtistId}"))">Select</button></li>
    </Buttons>
</SelectImage>

@code {
    [Parameter]
    public int ArtistId { get; set; }
}