:root {
    --active-color: rgb(40,200,140);
    --hover-color: rgb(40,140,240);
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


* {
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}

    body.menu > header {
        flex-grow: 1;
    }

        body.menu > header > div > button > span:first-of-type {
            display: none;
        }

        body.menu > header > div > button > span:last-of-type {
            display: inline;
        }

        body.menu > header > nav {
            display: flex;
        }

    body.menu > main, body.menu > footer {
        display: none;
    }

a.return {
    align-self: flex-start;
    color: rgb(0,0,0);
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
}

    a.return:hover {
        color: var(--hover-color);
    }

@media (min-width: 768px) {
    body.menu > header {
        flex-grow: 0;
    }

    body.menu > main, body.menu > footer {
        display: flex;
    }
}
