ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

    ul > li {

        border: none;
        display: flex;

        font-size: 1em;
        font-weight: bold;
        flex-basis: 50%;
        justify-content: flex-start;

    }
        ul > li > ::deep * {
            color: rgb(255,255,255);
            text-transform: uppercase;
            flex-grow: 1;
            padding: 1em;
        }

        ul > li > h3 {
            background-color: rgb(67, 107, 161);     
            padding: 1em;
        }


        ul > li > ::deep a {
            background-color: rgb(67, 161, 107);
            text-decoration: none;
        }
