@inherits LayoutComponentBase

<section>
    <h3>Index</h3>

    <ul>
        <li><NavLink href="lineup/index/filters" ActiveClass="active">Filters</NavLink></li>
        <li><NavLink href="lineup/index/results" ActiveClass="active">Results</NavLink></li>
    </ul>

    @Body
</section>

@code {

}
