@if (Model is { } model)
{
    <div>
        <div>
            <label for="name">Name</label>

            <InputText @bind-Value="model.Name" id="name" />
        </div>

        <div>
            <label for="description">Description</label>

            <InputTextArea @bind-Value="model.Description" id="description" />
        </div>

@*         <div>
            <label for="image">Image</label>

            <InputFile OnChange="(file) => model.BrowserFile = file.File" id="image" />
        </div> *@
    </div>
}


@code {
    [Parameter, EditorRequired]
    public IArtistFormModel? Model { get; set; }

  
}
