@inherits LayoutComponentBase

@layout MainLayout

<h2>Artists</h2>

<CascadingValue Value="Pagination">
    <CascadingValue Value="Filter">
        @Body
    </CascadingValue>
</CascadingValue>

@code {
    public Pagination Pagination { get; set; } = new() { Page = 1, PageSize = 1 };

    public ArtistFilter Filter { get; set; } = new();
}