@inherits LayoutComponentBase

@layout MainLayout

<h2>Lineups</h2>

<CascadingValue Value="LineupContext">
    @Body
</CascadingValue>

@code {
    public LineupContext LineupContext { get; set; } = new();
}