@page "/lineups/create/select-image"

@inherits SelectImageBase

@layout CreateLineupLayout

<SelectImage>
    <Buttons Context="id">
        <li><button @onclick="@(() => Select(id, "lineups/create"))">Select</button></li>
    </Buttons>
</SelectImage>