@page "/lineups/{lineupId:int}/delete"

@layout LineupLayout

@inject ILineupService LineupApiService
@inject IPerformanceService PerformanceApiService
@inject NavigationManager NavigationManager

@{
    var returnUrl = $"lineups/{LineupId}";
}

<SubTitle ReturnUrl="@returnUrl" ReturnTitle="Edit">
    Delete
</SubTitle>

@if (_lineupServiceResult?.Data is { } lineupResult && _pagedPerformanceServiceResult?.Data is { } performanceResults)
{
    <h4>Lineup</h4>

    <LineupItem LineupResult="@lineupResult"/>

    <h4>Performances</h4>

    <p>These performances will be deleted when deleting the lineup</p>

    <PagedList PagedServiceResult="_pagedPerformanceServiceResult" Context="performanceResult" OnPageChanged="(pagination) => FetchPerformances(lineupResult.Id, pagination, new PerformanceFilter())">
        <ItemTemplate>
            <PerformanceItem Model="performanceResult"/>
        </ItemTemplate>
    </PagedList>

    <Buttons>
        @{
            var href = $"lineups/{LineupId}";
        }

        <li><NavLink href="@href">Cancel</NavLink></li>
        <li><button @onclick="() => DeleteLineup(lineupResult.Id)">Delete</button></li>
    </Buttons>
}
else
{
   <Spinner />
}

@code {
    [Parameter]
    public int LineupId { get; set; }

    private ServiceResult<LineupResult>? _lineupServiceResult;

    private PagedServiceResult<IList<LineupPerformanceResult>>? _pagedPerformanceServiceResult;

    protected override async Task OnParametersSetAsync()
    {
        _lineupServiceResult = await FetchLineup(LineupId);
        _pagedPerformanceServiceResult = await FetchPerformances(LineupId, new Pagination { Page = 1, PageSize = 24 }, new PerformanceFilter());

        await base.OnParametersSetAsync();
    }

    private async Task<ServiceResult<LineupResult>?> FetchLineup(int id)
    {
        if (id <= 0)
        {
            return null;
        }

        return await LineupApiService.Get(id);
    }

    private async Task<PagedServiceResult<IList<LineupPerformanceResult>>?> FetchPerformances(int lineupId, Pagination pagination, PerformanceFilter performanceFilter)
    {
        if (lineupId <= 0)
        {
            return null;
        }

        return await PerformanceApiService.GetAll(lineupId, new PaginationRequest { Page = (uint)pagination.Page, PageSize = (uint)pagination.PageSize }, performanceFilter);
    }

    private async Task DeleteLineup(int id)
    {
        await LineupApiService.Delete(id);

        NavigationManager.NavigateTo("/lineups");
    }
}