<div>
    <img src="@($"https://localhost:7188/image/download/{Model.Id}")" />

    <div>
        <ul>
            <li><h5>@Model.Alt</h5></li>
        </ul>

        @if (Buttons is not null)
        {
            <Buttons>
                @Buttons
            </Buttons>
        }
    </div>      
</div>
@code {
    [Parameter, EditorRequired]
    public required ImageResult Model { get; set; }

    [Parameter]
    public RenderFragment? Buttons { get; set; }
}
