fieldset {
    border: 1px solid rgb(200,200,200);
    padding: 1em;
    font-weight: bold;
}

fieldset > ::deep form {
    /* border: 1px solid rgb(200,200,200);*/
    display: flex;
    flex-direction: column;
    gap: 2em;
    /*    padding: 1em;*/
}

    fieldset > ::deep form > div {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

        fieldset > ::deep form > div > div {
            display: flex;
            flex-direction: column;
        }

            fieldset > ::deep form > div > div > label {
                font-size: .9em;
                font-weight: bold;
            }

            fieldset > ::deep form > div > div > input {
                border: 1px solid rgb(150,150,150);
                font-size: 1em;
                padding: .5em;
            }

            fieldset > ::deep form > div > div > select {
                border: 1px solid rgb(150,150,150);
                font-size: 1em;
                padding: .5em;
            }

            fieldset > ::deep form > div > div > div {
       /*         align-items: center;*/
                border: 1px solid rgb(150,150,150);
                display: flex;
/*                flex-direction: row;
*/                gap: 1em;
                padding: .5em;
            }

            fieldset > ::deep form > div > div > div > label {
                font-weight: normal;
            }
