span > ::deep a {
    color: rgb(67,161,107);
    display: flex;
    font-weight: bold;
    text-decoration: none;
    transform: translateX(-.5em);
}
    span > ::deep a:hover {
        color: rgb(47,141,87);
    }