<div>
    @if (!string.IsNullOrWhiteSpace(ReturnUrl))
    {
        <Return Href="@ReturnUrl" Title="@ReturnTitle" />
    }

    <h3>
        @ChildContent
    </h3>
</div>


@code {
    [Parameter]
    public string? ReturnUrl { get; set; }

    [Parameter]
    public string? ReturnTitle { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}
