@page "/lineups/{lineupId:int}/performances/create-artist"

@layout LineupLayout

@inject ILineupService LineupApiService
@inject NavigationManager NavigationManager

<SubTitle ReturnUrl="@($"/lineups/{LineupId}/performances/select-artist")" ReturnTitle="Artists">
    Create artist
</SubTitle>

<Navigation>
    <li><NavLink href="@($"/lineups/{LineupId}/performances/create-artist/select-image")">Select image</NavLink></li>
</Navigation>

<ArtistCreateForm OnSubmitted="@((artistId) => NavigationManager.NavigateTo($" lineups /{LineupId}/{artistId}/add-performance"))" />

@code {
    [Parameter]
    public int LineupId { get; set; }
    // private ServiceResult<LineupResult>? _lineupServiceResult;

    // protected override async Task OnParametersSetAsync()
    // {
    //     await FetchLineup(LineupId);

    //     await base.OnParametersSetAsync();
    // }

    // private async Task FetchLineup(int? id)
    // {
    //     if (id is null || id <= 0)
    //     {
    //         return;
    //     }

    //     _lineupServiceResult = await LineupApiService.Get((int)id, new PaginationRequest { Page = 1, PageSize = 5 });
    // }
}
