@page "/images"

@layout ImageLayout

@inject ImageApiService ImageApiService

<SubTitle ReturnUrl="@($"/")" ReturnTitle="Home">
    Index
</SubTitle>

<Navigation>
    <li><NavLink href="images/create">Create</NavLink></li>
</Navigation>

@if (_pagedServiceResult is { } pagedServiceResult)
{
    <PagedList PagedServiceResult="pagedServiceResult" Context="imageResult" OnPageChanged="(pagination) => FetchImages(pagination)">
        <ItemTemplate>
            <ImageItem Model="imageResult">
                <Buttons>
                    <li><NavLink href="@($"images/{imageResult.Id}")">Edit</NavLink></li>

                    <li><NavLink href="@($"images/{imageResult.Id}/delete")" class="warning">Delete</NavLink></li>
                </Buttons>
            </ImageItem>
        </ItemTemplate>
    </PagedList>
}
else
{
    <Spinner />
}

@code {
    private PagedServiceResult<IList<ImageResult>>? _pagedServiceResult;

    protected override async Task OnInitializedAsync()
    {
        await FetchImages(new Pagination { Page = 1, PageSize = 12 });

        await base.OnInitializedAsync();
    }

    private async Task FetchImages(Pagination pagination)
    {
        _pagedServiceResult = await ImageApiService.GetAll(new PaginationRequest { Page = (uint)pagination.Page, PageSize = (uint)pagination.PageSize });
    }
}
