@inherits LayoutComponentBase

@layout MainLayout

@inject NavigationManager NavigationManager

<CascadingValue Value="_context">
    <ul>
        <li><NavLink href="performances/create/artist">Artist</NavLink></li>
        <li><NavLink href="performances/create/lineup">Lineup</NavLink></li>
        <li><NavLink href="performances/create/properties">Properties</NavLink></li>
        <li><NavLink href="performances/create/summary">Summary</NavLink></li>
    </ul>

    @Body

    <div class="buttons">
        @if (_currentStep == "artist")
        {
            <p>Previous</p>
        }
        else
        {
            <a href="@("/performances/create" + _previousStep)">Previous</a>
        }


        @if (_currentStep == "summary")
        {
            <p>Next</p>
        }
        else
        {
            <a href="@("/performances/create" + _nextStep)">Next</a>
        }

        @if (!_context.IsValid)
        {
            <p>Submit</p>
        }
        else
        {
            <button type="submit" for="create_performance">Submit</button>
        }
    </div>

</CascadingValue>

@code {
    private PerformanceContext _context = new() { };

    private string _currentStep => NavigationManager.Uri.Split('/').Last();

    private string _previousStep => _currentStep switch
    {
        "summary" => "/properties",
        "properties" => "/lineup",
        "lineup" => "/artist",
        _ => ""
    };

    private string _nextStep => _currentStep switch
    {
        "artist" => "/lineup",
        "lineup" => "/properties",
        "properties" => "/summary",
        _ => ""
    };

    public void test()
    {
        var test = NavigationManager.BaseUri;
    }
}