section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

    section > ::deep a {
        align-self: flex-end;
        color: rgb(0,250,0);
        font-weight: bold;
        text-decoration: none;
    }

        section > ::deep a:hover {
            color: var(--hover-color);
        }

    section > ul {
        list-style-type: none;
    }
