@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<section>
    <h2>News</h2>
</section>

<section>
    <h2>Confirmed</h2>

    @if (Model.Confirmed.Data is { Count: > 0 } confirmed)
    {
        <ul>
            @foreach (var lineupResult in confirmed)
            {
                <partial name="_LineupPartial" model="lineupResult" />
            }
        </ul>
    }
    else
    {
        <p>There has nothing been confirmed recently.</p>
    }

    <a asp-controller="agenda" asp-action="index">Show all</a>
</section>

<section>
    <h2>Soon</h2>

    @if (Model.Soon.Data is { Count: > 0 } soon)
    {
        <ul>
            @foreach (var lineupResult in soon)
            {
                <partial name="_LineupPartial" model="lineupResult" />
            }
        </ul>
    }
    else
    {
        <p>There is currently nothing planned.</p>
    }

    <a asp-controller="agenda" asp-action="index">Show all</a>
</section>



